# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/src/release_notes/node_modules
/src/release_notes/.pnp
/src/release_notes/.pnp.js

# testing
/src/release_notes/coverage

# production
/src/release_notes/build

# misc
/src/release_notes/.DS_Store
/src/release_notes/.env.local
/src/release_notes/.env.development.local
/src/release_notes/.env.test.local
/src/release_notes/.env.production.local

/src/release_notes/npm-debug.log*
/src/release_notes/yarn-debug.log*
/src/release_notes/yarn-error.log*
